<div id="print_div" #print_div>
	<table class="table table-striped">
		<thead *ngIf="showHead">
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead *ngIf="showHead">
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
	<table *ngIf="hideTable1" id="table1" class="table table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
</div>

<essence-ng2-print #print1
	[showBtn]="false"
	[btnClass]="{'btn': true, 'btn-info': true}"
	[printHTML]="print_div"
	[printStyle]="printStyle"
	[printCSS]="printCSS"
	(printComplete)="printComplete()">
</essence-ng2-print>
<button class="btn btn-danger pull-right" (click)="customPrint()">自定义打印</button>

<essence-ng2-print
		class="pull-right"
		[btnText]="'内置打印'"
		[btnClass]="{'btn': true, 'btn-info': true}"
		[printHTML]="print_div"
		[printStyle]="printStyle"
		[printCSS]="printCSS"
		(printComplete)="printComplete()">
</essence-ng2-print>