<div id="print_div" #print_div>
	<table class="table table-striped">
		<thead *ngIf="showHead">
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead *ngIf="showHead">
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
	<table *ngIf="hideTable1" id="table1" class="table table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let user of datas; let i = index">
			<td>{{i}}</td>
			<td>{{user?.firstName}}</td>
			<td>{{user?.lastName}}</td>
			<td>{{user?.userName}}</td>
		</tr>
		</tbody>
	</table>
</div>

<div>
	<essence-ng2-print
			[btnText]="'iframe模式打印'"
			[btnClass]="{'btn': true, 'btn-success': true}"
			[printHTML]="print_div"
			[printStyle]="printStyle"
			[printCSS]="printCSS"
			(printComplete)="printComplete()">
	</essence-ng2-print>
</div>

<div>
	<essence-ng2-print #print1
	                   [showBtn]="false"
	                   [printHTML]="print_div"
	                   [printStyle]="printStyle"
	                   [printCSS]="printCSS"
	                   (printComplete)="printComplete()">
	</essence-ng2-print>
	<button class="btn btn-primary" (click)="customPrint('print1')">自定义打印（iframe模式）</button>
</div>

<div>
	<essence-ng2-print
			[mode]="'popup'"
			[popTitle]="'表格打印'"
			[btnText]="'popup模式打印'"
			[btnClass]="{'btn': true, 'btn-warning': true}"
			[printHTML]="print_div"
			[printStyle]="printStyle"
			[printCSS]="printCSS"
			(printComplete)="printComplete()">
	</essence-ng2-print>
</div>

<div>
	<essence-ng2-print #print2
	                   [mode]="'popup'"
	                   [popTitle]="'表格打印'"
	                   [showBtn]="false"
	                   [printHTML]="print_div"
	                   [printStyle]="printStyle"
	                   [printCSS]="printCSS"
	                   (printComplete)="printComplete()">
	</essence-ng2-print>
	<button class="btn btn-primary" (click)="customPrint('print2')">自定义打印（popup模式）</button>
</div>
